@tailwind base;
@tailwind components;
@tailwind utilities;


.circulo {
  width: 700px;
  height: 700px;
  margin-top: 10px;
}

.btn-wap {
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right:30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
 
}


.whatsapp-icon {
  transition: filter 0.3s;
}

.btn-wap:hover .whatsapp-icon {
  filter: invert(100%) saturate(100%) brightness(100%);
}

.margen-logo {
  margin-top: 780px;
}

.margen-perro {
  margin-left: 890px;
}

.tope-gaspar {
  top: 660px;
}